// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
	margin: 0 !important;
}

a:hover {
    text-decoration: none !important;
}

.transparentBlock  .loading-wrapper {
   background-color: transparent !important;
   box-shadow: none !important;
   flex-direction: column;
   .loading-content {
   		margin: 0;
   		//color: color($colors,gray);
   }
   .loading-spinner {
    	height: 35px;
   	    width: 35px;
   }
}

.rtl .loading-content {
	margin-left: 0;
	margin-right: 16px;
}

.transparentBlock ion-backdrop {
   opacity: 0 !important;
     
}